.nav .Recherche-form{
    color: rgb(255, 255, 255);
    font-family: ai;
    padding: 0 1.3em;
    position: absolute;
    top: 70vh;
    background: transparent;
    text-align: center;
    font-size:1.3vw;
}

.nav .background{
    position:relative;
    background: rgb(0, 0, 0);
    width: 82vw;
    left:  5em;
    height:    4.1em;
    opacity: 0.6;
}
.NavRecherche{
    position: absolute;
    display: flex;
    justify-content: space-between;
    font-size:1.3vw;
    text-align: center;
    top: 0.7em;
    left: 5em;
    width: 100%;

}
.NavRecherche div{
    margin: 0 2.5em;
}
.Recherche-form input,button{
    border: none;
}
.Recherche-form button{
    background: rgb(0, 0, 0);
    color: white;
    
}

.Adultes button,
.Enfants button{
    margin: 0 0.5em;
    background: white;
    color: black;
    font-weight: 900;
    padding: 0.3em 0.7em;
    font-size: 0.8em;
    /* font-size: 0rem; */
}
.Adultes button:hover,
.Enfants button:hover{
    /* background-color: transparent!important; */
    /* background: white; */
    border: white;
    color: rgb(255, 255, 255) !important;
    transition: 0.3s ease-in;
}
.date{
    background-color: transparent;
    outline: none;
    cursor: pointer;
    color: white;    
    color-scheme: dark;
}


.btn-recherche button{
    font-family:ai;
    margin-top: 0.11em;
    background-color: rgb(255, 255, 255);
    padding:0.4em 1.1em;
    font-size: 1em;
    border-radius: 7px;
    color: black;
}
.btn-recherche button:hover{
    background-color: white!important;
    color: black;
    transition: 0.3s ease-in;
    /* font-size: 1.1rem; */
    /* padding-bottom: 10px; */
}
@media only screen and (max-width : 450px){
    .nav .Recherche-form,
    .nav .background{
        display: none;
    }

}
