.section-img{
    position: relative;
}
.section-img img{
    background-size: cover; 
    /* height:79.5vh;  */
    height: 100%;
    width: 100%;
}

/* .carousel{
    width: 100%;
} */
.carousel-item{
    width: 100vw !important;
    height: 79.5vh !important;
}
.carousel-control-prev,
.carousel-control-next{
    width:5% !important;
}

.carousel-indicators{
    /* bottom: 11rem !important; */
}
