/* .reservations::after{
    content: "reservations";
    margin-left: 2px;
} */
/* .nav-login{
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: end;
    width: 100%;
    padding: 3px;
} */

/* .reservation{
    cursor: pointer;
    margin-right: 10px;
} */

/* .nav-login input,
.nav-login #log-btn{
    border: 2px solid black;
    outline: none;
    padding: 5px;
    font-family: Courier, monospace;
}
.nav-login #log-btn{
    background-color: black;
    color: white;
}
.nav-login #log-btn a{
    background-color: black;
    color: white;
    text-decoration: none;
} */
header{
    margin:0;
    padding:0;
}
.navbar{
    padding:0;
    margin:0;
}
.nav-header{
    background-color: black;
    width: 100%;
    align-content: center;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: Courier, monospace;
    font-size: 1.1rem;
    padding: 0.3rem;
}
.navbar-toggler{
    background:#fff ;
    margin-right:1.2rem;
}
.navbar-header{
    flex-grow : 9999;
}
.navbar-header a img{
    height: 4rem;
    cursor: pointer;

}
.nav-liste a{
    padding: 0.3rem 0;
}
.nav-liste  a{
    margin: 10px;
    height: 100%;
    text-decoration: none;
    color: white !important;
    cursor: pointer;
}

.nav-liste a::after{
    content: "|";
    margin-left: 5px;
}
.nav-liste a:last-child::after{
    content: "";
}

.nav-liste {
    /* margin-top: 22px; */
    align-items: center;
    flex-wrap : "wrap"
}
.nav-liste:last-child button{
    background-color: rgb(120, 99, 90);
    color: white;
    outline: none;
    border: none;
    padding: 0.8rem;
}



@media only screen and (max-width: 992px) {
    .navbar-nav{
        align-items: flex-start !important;

    }
    .navbar-nav a{
        align-items: center !important;
    }

    .nav-liste a::after{
        content: "";
    }
    .nav-liste:last-child button{
        margin-left: -0.7rem;
    }
}